/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "./input.css";

@import "tailwindcss";

/* theme config */
@theme {
  --container-width: 1320px;

  /* Breakpoints */
  --breakpoint-xs: 430px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1320px;

  /* Colors */
  --color-primary: #0E315B;
  --color-secondary: #39B1BE;
  --color-background: #F7F7F7;
  --color-foreground: #fff;
  --color-accent: #90DFAB;
  --color-purple: #9C66FF;


  /* rounded basic  */
  --radius-primary: 8px;


  /* shadow  */
  --shadow-primary: 0px -11.295px 25.1px 0px rgba(1, 102, 152, 0.1),
    0px 46.434px 46.434px 0px rgba(1, 102, 152, 0.09),
    0px 11.295px 25.1px 0px rgba(1, 102, 152, 0.1);

}



@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}



@layer utilities {
  .container {
    padding: 0 16px;
    margin: 0 auto;
  }

  input::-webkit-autofill {
    background-color: transparent !important;
    background: transparent !important;
  }
}



/* font sizes  */

h1 {
  font-size: 54px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 38px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 22px;
}

p {
  font-size: 18px;
}